In [ ]:
list - []
    Ex:
        num = list() # This will create an empty list
        or
        num = []
tuple - ()
    Ex:
        numbers = tuple() # THis empty
        or
        numbers = ()
    
dict - {}
    Ex:
        employe_details = dict()
        or
        employe_details = {}
set - {}
    Ex:
        numbers = set()
        or
        numbers = {} # Here is the problem?

# Set

In [1]:
num = {}

In [2]:
type(num)

dict

## how to create an empty set object

In [3]:
num1 = set()

In [4]:
type(num1)

set

In [ ]:
## Why we use set.

-> Set will remove all duplicate element from the set.
-> While creating set we can pass duplicate element however while storing it set will remove so when we are seeing output
   we just see only unique element.

In [5]:
num1 = {1,2,2,2,1,3,4,5,6,3,2,1,1,1,1}

In [6]:
num1

{1, 2, 3, 4, 5, 6}

In [7]:
help(num1)

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [8]:
print(dir(num1))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

## add

In [9]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [10]:
num1

{1, 2, 3, 4, 5, 6}

In [11]:
num1.add(4)

In [12]:
num1

{1, 2, 3, 4, 5, 6}

In [13]:
num1.add(400)

In [14]:
num1

{1, 2, 3, 4, 5, 6, 400}

## clear

In [15]:
help(num1.clear)

Help on built-in function clear:

clear(...) method of builtins.set instance
    Remove all elements from this set.

## copy

In [16]:
help(num1.copy)

Help on built-in function copy:

copy(...) method of builtins.set instance
    Return a shallow copy of a set.

In [17]:
num2 = num1.copy()

In [18]:
num2

{1, 2, 3, 4, 5, 6, 400}

In [19]:
num1

{1, 2, 3, 4, 5, 6, 400}

## difference

In [21]:
set1 = {1,2,3,4,5}
set2 = {3,5,7,8,9,10}

In [22]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [23]:
set1.difference(set2)

{1, 2, 4}

In [24]:
set2.difference(set1)

{7, 8, 9, 10}

## difference_update

In [25]:
help(set1.difference_update)

Help on built-in function difference_update:

difference_update(...) method of builtins.set instance
    Remove all elements of another set from this set.

In [26]:
set1

{1, 2, 3, 4, 5}

In [27]:
set2

{3, 5, 7, 8, 9, 10}

In [28]:
set1.difference(set2)

{1, 2, 4}

In [29]:
set1.difference_update(set2)

In [30]:
set1

{1, 2, 4}

In [31]:
set2

{3, 5, 7, 8, 9, 10}

In [32]:
set3 = {'a', 'b', 'c'}
set4 = {'b', 'd','e', 'g'}

In [33]:
set3

{'a', 'b', 'c'}

In [34]:
set4

{'b', 'd', 'e', 'g'}

In [35]:
set3.difference(set4)

{'a', 'c'}

In [36]:
set4.difference(set3)

{'d', 'e', 'g'}

In [37]:
set3

{'a', 'b', 'c'}

In [38]:
set4

{'b', 'd', 'e', 'g'}

In [39]:
set3.difference_update(set4)

In [40]:
set3

{'a', 'c'}

In [41]:
set4

{'b', 'd', 'e', 'g'}

## intersection

In [42]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [43]:
set1 = {10,20,30,40}
set2 = {10,50,60,70,20}

In [44]:
set1

{10, 20, 30, 40}

In [45]:
set2

{10, 20, 50, 60, 70}

In [46]:
set1.intersection(set2)

{10, 20}

## issubset

In [47]:
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

In [48]:
set1 = {10,20,30}
set2 = {50,10,20,30,60,70,80}

In [49]:
set1

{10, 20, 30}

In [50]:
set2

{10, 20, 30, 50, 60, 70, 80}

In [51]:
set1.issubset(set2)

True

In [52]:
set2.issubset(set1)

False

### Example 2

In [55]:
set1 = {100,10,20}
set2 = {50,10,20,30,60,70,80}

In [56]:
set1.issubset(set2)

False

## symmeteric_difference

In [57]:
set1

{10, 20, 100}

In [58]:
set2

{10, 20, 30, 50, 60, 70, 80}

In [59]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [60]:
set1.symmetric_difference(set2)

{30, 50, 60, 70, 80, 100}

In [61]:
set2.symmetric_difference(set1)

{30, 50, 60, 70, 80, 100}

## update

In [62]:
set1 = {1,2,3,4}
set2 = {4,5,6}

In [63]:
set1.update(set2)

In [64]:
set1

{1, 2, 3, 4, 5, 6}

In [65]:
set1.update(10)

TypeError: 'int' object is not iterable

## add

In [66]:
set1

{1, 2, 3, 4, 5, 6}

In [68]:
set1.add(4)

In [69]:
set1

{1, 2, 3, 4, 5, 6}

In [70]:
set1.add({4,5,6})

TypeError: unhashable type: 'set'

## remove

In [71]:
help(set1.remove)

Help on built-in function remove:

remove(...) method of builtins.set instance
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [72]:
set1

{1, 2, 3, 4, 5, 6}

In [73]:
set1.remove(100)

KeyError: 100

In [74]:
set1.remove(5)

In [75]:
set1

{1, 2, 3, 4, 6}

In [76]:
set1

{1, 2, 3, 4, 6}

In [77]:
set2

{4, 5, 6}

## union

In [78]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [79]:
set1

{1, 2, 3, 4, 6}

In [80]:
set1.remove(4,6)

TypeError: remove() takes exactly one argument (2 given)

In [ ]:
## print 10 from ex1

## print 6 8 10 12 using step by with +ve as well as -ve indexing.

In [81]:
ex1 = [[1,2,3,[4,5,[6,7,8,9,10,11,12]]]]

In [ ]:
## We have convered till so far.

Built-in functions
print()
type()
help()
dir()
ord()
chr()
isinstance()

Datatypes
Number
    - int
    - float
str
bool
list
tuple
set
dict
**Covered all built-in functions of datatype.

In [ ]:
9th July 
loops
    - for
    - while
conditional statements
    - if - else
    - if - elif - elif - else
    
finding even or odd number, etc.